div#transition-grid {
    margin:20px 0;
    width:350;
    display:grid;
    grid-template-areas:
    "thumb-1 thumb-2 thumb-3"
    "thumb-4 thumb-5 thumb-6"
    "thumb-7 thumb-8 thumb-9";
    grid-gap:20px;

    div.rectangle {
        font-family: Impact, sans-serif;
        font-size: 80px;
        color: white;
        text-align: center;
        position:relative;
        background-color:darkgrey;
        left:0px;
        height: 100px;
        width: 100px;
    }
    div.rectangle:hover {
        position:absolute;
        background-color:lightgrey;
        font-size: 270px;
        left:350px;
        height: 320px;
        width: 320px;
        z-index: 99;
    }
    div.rectangle#thumb-1 {
        grid-area:thumb-1;
    }
    div.rectangle#thumb-2 {
        grid-area:thumb-2;
    }
    div.rectangle#thumb-3 {
        grid-area:thumb-3;
    }
    div.rectangle#thumb-4 {
        grid-area:thumb-4;
    }
    div.rectangle#thumb-5 {
        grid-area:thumb-5;
    }
    div.rectangle#thumb-6 {
        grid-area:thumb-6;
    }
    div.rectangle#thumb-7 {
        grid-area:thumb-7;
    }
    div.rectangle#thumb-8 {
        grid-area:thumb-8;
    }
    div.rectangle#thumb-9 {
        grid-area:thumb-9;
    }
}