.container#transform {
    display:flex;
    flex-wrap:wrap;
    div.square {
        text-align: center;
        margin:30px;
        height:150px;
        width:150px;

        transition: 1s;
    }

//translate
    .square#translateX {
        background-color:rgb(254, 38, 0);
    }
    .square#translateY {
        background-color:rgb(253, 85, 55);
    }
    .square#translate {
        background-color:rgb(251, 129, 107);
    }
//translate:hover
    .square#translateX:hover {
        transform:translateX(30px);
    }
    .square#translateY:hover {
        transform:translateY(30px);
    }
    .square#translate:hover {
        transform:translate(30px, 30px);
    }

//scale
   .square#scaleX {
        background-color:rgb(3, 200, 16);
    }
    .square#scaleY {
        background-color:rgb(0, 231, 42);
    }
    .square#scale {
        background-color:rgb(0, 255, 47);
    }
//scale:hover
    .square#scaleX:hover {
        transform:scaleX(1.5);
    }
    .square#scaleY:hover {
        transform:scaleY(1.5);
    }
    .square#scale:hover {
        transform:scale(2, 2);
    }
//skew
    .square#skewX {
        background-color:rgb(0, 86, 135);
    }
    .square#skewY {
        background-color:rgb(2, 115, 181);
    }
    .square#skew {
        background-color:rgb(0, 162, 255);
    }
//skew:hover
    .square#skewX:hover {
        transform:skewX(30deg);
    }
    .square#skewY:hover {
        transform:skewY(45deg);
    }
    .square#skew:hover {
        transform:skew(15deg, 30deg);
    }
}