div.container#transform-origin {
    display:flex;
    flex-wrap:wrap;
   
    div.square{
        text-align: center;
        margin:30px;
        background-color: rgb(255, 242, 0);
        height:150px;
        width:150px;

      
    }
    div.square#origin-center:hover {
        transform:rotate(45deg);
        transform-origin: center;
    }
    div.square#origin-top:hover {
        transform:rotate(45deg);
        transform-origin: top;
    }
    div.square#origin-bottom:hover {
        transform:rotate(45deg);
        transform-origin: bottom;
    }
    div.square#origin-left:hover {
        transform:rotate(45deg);
        transform-origin: left top;
    }
    div.square#origin-right:hover {
        transform-origin: right bottom;
        transform:rotate(45deg);
    }
    
}